body {
    font-family: system-ui, sans-serif;
    margin: 20px;
    line-height: 1.5;
}

#patient, #meds {
    font-family: Monaco, monospace;
    white-space: pre;
    font-size: 13px;
    height: 30vh;
    overflow: scroll;
    border: 1px solid #CCC;
    padding: 10px;
    background: #f9f9f9;
}

h4 {
    margin: 15px 0 5px;
}